<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    <%- include('partials/sidebar') %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
            <label for="upldFile"></label>
            <input id="upldFile" name="upldFile" type="file">
        </div>
        <button>Submit</button>
    </form>
    
</body>
</html>