01_Foundations/03_JS_Projects/node_modules
01_Foundations/03_JS_Projects/package-lock.json
.DS_Store

*.pdf
node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
package-lock.json
*/package-lock.json
*/*/package-lock.json
*/*/*/package-lock.json
junk