@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --number-modules: 3;
    --row-heights: 160px;
    --box-widths: 140px;
    box-sizing: border-box;
}

body {
    display: grid;
    gap: 20px;
    width: min(100%, 1024px);
    margin: 0 auto;
}

a {
    text-decoration: None;
}

.container {
    width: 95%;
    padding: 0 2em;
    margin: 0 auto;
}


/* HEADER */
.header {
    margin-top: 1em;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 5;
}

#menuToggle {
    position: relative;
    z-index: 10;
}

#menuToggle .toggleBtn {
    position: absolute;
    width: 40px;
    height: 32px;
    cursor: pointer;
    z-index: 11;
}

#menuToggle span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 5px;
    background: #36383F;
    border-radius: 3px;
    transform-origin: 4px 0;
    transition: 0.3s ease;
}

.hamburger {
    padding-top: 1rem;
}

.hamburger.active > span:nth-child(1) {
    transform: rotate(45deg) translate(1px, -1px);
}

.hamburger.active > span:nth-child(2) {
    opacity: 0;
}

.hamburger.active > span:nth-child(3) {
    transform: rotate(-45deg) translate(0, 1px);
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding: 22% 10% 20px;
    background: #F5F6FA;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 5;
    list-style: none;
    gap: 1rem;
}

#menu.visible {
    transform: translateX(0);
}

.nav-item {
    margin: 1.2rem 0;
    font-family: Montserrat;
}

.nav-link {
    text-decoration: none;
    color: #36383F;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #007bff;
}




/* BODY */
.all-project-levels {
    display: grid;
    gap: 1rem;
}

.level-container {
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 10px;
}

.level-title {
    text-align: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
    font-family: "Nunito", monospace, sans-serif;
    font-style: oblique;
    color: #71717a;
}

.project-links-track {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--box-widths), 1fr));
    gap: 0.6rem 0.6rem;
    justify-content: start;
}

.project-box {
    border: 1px solid black;
    background-color: rgba(0, 145, 255, 0.701);
    padding: 5px;
    border-radius: 10px;
    max-height: var(--row-heights);
}

.project-box a {
    color: white;
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 5px;
}

.project-box a:hover {
    color: black;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

img.box-img {
    justify-self: center;
    width: calc(var(--box-widths) - 30px);
    height: calc(var(--box-widths) - 30px);
    border-radius: 5px;
}

i.box-img {
    justify-self: center;
    font-size: calc(var(--box-widths) - 40px);
}

i.btshp {
    color: rgb(34, 35, 35);
}

i.medium {
    -webkit-text-stroke: 4px rgb(76,178,255);
}

i.thin {
    -webkit-text-stroke: 7px rgb(76,178,255);
}

i.btshp.thin {
    animation: logo-spin infinite 20s linear;
}

.box-img {
    transition: transform .3s ease-in-out;
}

.box-img:hover {
    transform: scale(0.9);
}

span.link-name {
    font-size: 1.2rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
    a i {
        font-size: 2rem;
        transition: transform .5s ease-in-out;
    }
    a i.github {color: black};
    a i.linkedin {color: rgb(10, 102, 194)};
    a:hover {
        transform: scale(1.5);
    }
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


@media (min-width: 600px) {
    #menuToggle .hamburger {
        display: none;
    }
    
    #menuToggle .toggleBtn {
        display: none;
    }
    
    #menu {
        display: flex;
        position: static;
        width: auto;
        height: auto;
        background: transparent;
        box-shadow: none;
        padding: 0;
        transform: translateX(0);
        visibility: visible;
        margin: 1em 0;
    }

    .nav-item {
        margin: 0;
    }
}