:root {
    --number-modules: 3;
    --row-heights: 160px;
    --box-widths: 140px;
}

body {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

a {
    text-decoration: None;
}
.header > h1 {
    display: flex;
    position: relative;
    margin: 0;
    justify-content: center;
    font-size: 2.3em;
}

.all-project-levels {
    display: grid;
    gap: 1rem;
    padding: 1em 2em;
    box-sizing: border-box;
}

.level-container {
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 10px;
}

.level-title {
    text-align: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
    font-family: "Nunito", monospace, sans-serif;
    font-style: oblique;
    color: #71717a;
}

.project-links-track {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--box-widths), 1fr));
    /* grid-auto-rows:  var(--row-heights); */
    gap: 0.6rem 0.6rem;
    /* resize: both; */
    /* overflow: auto; */
    justify-content: start;
}

.project-box {
    border: 1px solid black;
    background-color: rgba(0, 145, 255, 0.701);
    padding: 5px;
    border-radius: 10px;
    max-height: var(--row-heights);
}

.project-box a {
    color: white;
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 5px;
}

.project-box a:hover {
    color: black;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

img.box-img {
    justify-self: center;
    width: calc(var(--box-widths) - 30px);
    height: calc(var(--box-widths) - 30px);
    border-radius: 5px;
}

i.box-img {
    justify-self: center;
    font-size: calc(var(--box-widths) - 40px);
}

i.btshp {
    color: rgb(34, 35, 35);
}

i.medium {
    -webkit-text-stroke: 4px rgb(76,178,255);
}

i.thin {
    -webkit-text-stroke: 7px rgb(76,178,255);
}

i.btshp.thin {
    animation: logo-spin infinite 20s linear;
}

.box-img {
    transition: transform .3s ease-in-out;
}

.box-img:hover {
    transform: scale(0.9);
}

span.link-name {
    font-size: 1.2rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
    a i {
        font-size: 2rem;
        transition: transform .5s ease-in-out;
    }
    a i.github {color: black};
    a i.linkedin {color: rgb(10, 102, 194)};
    a:hover {
        transform: scale(1.5);
    }
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }