.navbar {
    display: grid;
    align-content: flex-start;
    grid-template-rows: auto auto 1fr;
    gap: 0.5em;
    padding: 1em 0.5em;
}

.linkCntr {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.navLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    font-size: 1.2rem;
    font-weight: 550;
    font-family: 'Poppins';
}