<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <button><a href="/">&#x25c0; Home</a></button>
        <h2>Create an account</h2>
        <form class="authForm" action="" method="POST">
          <div class="inputGroup">
              <label for="username">Username</label>
              <input id="username" name="username" placeholder="username" type="text" />
          </div>
          <div class="inputGroup">
              <label for="password">Password</label>
              <input id="password" name="password" placeholder="password" type="password" />
          </div>
          <button class="submitBtn">Sign Up</button>
        </form>
    </div>
</body>
</html>
