<aside class="sidebar">
    <link rel="stylesheet" href="/css/sidebar.css">
    <div class="sbrToggler">
        <span id="sideToggle" class="chevToggle material-symbols-rounded" onclick="toggleSideBar()">chevron_left</span>
    </div>

    <ul class="sideNav primary">
        <li class="sideItems">
            <a href="#">
                <span class="sideIcon material-symbols-rounded">create_new_folder</span>
                <span class="sideLabel">Create Folder</span>
            </a>
        </li>
        <li class="sideItems">
            <a href="#">
                <span class="sideIcon material-symbols-rounded">upload_file</span>
                <span class="sideLabel">Upload File</span>
            </a>
        </li>
    </ul>

    <div class="dirList">
        <div class="dirItem">
            <a href="#">
                <span class="dirIcon material-symbols-rounded">folder_open</span>
                <span class="dirLabel">root</span>
            </a>
        </div>
    </div>

    <div class="storage">
        <div>2.5 mb of 50mb left</div>
    </div>

    <ul class="sideNav secondary">
        <li class="sideItems">
            <a href="#">
                <span class="sideIcon material-symbols-rounded">account_circle</span>
                <span class="sideLabel">Profile</span>
            </a>
        </li>
        <li class="sideItems">
            <a href="/auth/signout">
                <span class="sideIcon material-symbols-rounded">logout</span>
                <span class="sideLabel">Logout</span>
            </a>
        </li>
    </ul>
</aside>