<!DOCTYPE html>
<html lang="en">
<%- include('partials/header', { title: title }) %>
<link rel="stylesheet" href="/css/auth.css">
<body>
    <%- include('partials/nav') %>
    <h1>Welcome to members only</h1>
</body>
</html>