.content-cntr {
    display: grid;
    gap: 20px;
    padding: 10px;
}

.projects-sidebar-cntr {
    display: grid;
    overflow: auto;
    resize: both;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    grid-auto-rows: 40px;
    justify-items: center;
    align-items: center;
    gap: 7px 20px;
    padding: 15px;
}

.todo-lists {
    display: grid;
}

.priority-containers {
    display: grid;
    overflow: auto;
    resize: both;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    grid-auto-rows:  250px;
    gap: 20px 10px;
    margin: 0;
    padding: 10px;
    justify-items: center;
}

.priority-cntr-box {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    justify-items: center;
    text-align: center;
}

.clickable-btn {
    width: 140px;
    cursor: pointer;
}

.add-todo {
    justify-self: end;
    margin-right: 10px;
    font-size: medium;
}

.add-todo:focus {
    transform: scale(1.05);
    font-weight: bold;
    color: #34d399;
}

.add-project, .project-item-cntr {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-size: medium;
    gap: 5px;
    border: 0.5px solid black;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 3px 8px;
}

.project-item-cntr span {
    max-width: 65ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-item-cntr:hover {
    cursor: pointer;
}

.project-item-cntr.selected {
    font-weight: bolder;
    background-color: #34d399;
    color: white;
    transform: scale(1.1);
}

.icon-btns, 
.add-project svg,
.add-todo span path,
.modal-close-btn,
.todo-item-right-cntr button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.05rem;
}

.delete-project-btn,
.todo-item-right-cntr {
    justify-self: end;
}

.delete-project-btn:hover,
.modal-close-btn:hover,
.delete-todo-item:hover {
    color: #C70000;
}

.edit-todo-item:hover {
    color: #f59e0b;
}

.new-project-entry {
    width: 95%;
    background: transparent;
    border: 0;
    color: inherit;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    outline: none;
}

.cntr-body {
    display: grid;
    border: 1px solid blue;
    min-height: 20px;
    margin: 5px;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
}

.cntr-title {
    font-weight: bolder;
    text-transform: uppercase;
}

.todo-item {
    display: grid;
    grid-auto-flow: column;
    justify-items: start;
    border: 0.5px solid #0ea5e9;
    align-items: center;
}

.todo-item-left-cntr,
.todo-item-right-cntr {
    align-items: center;
}

.todo-item-left-cntr.checked {
    text-decoration: line-through;
    font-style: italic;
}

.check-todo-item.checked {
    color: #34d399;
}

.modal {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transition: 200ms ease-in-out;
    border: 1px solid black; 
    border-radius: 10px; 
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 90%;
    display: grid;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.modal-title, .modal-close-btn {
    font-weight: bolder;
    font-size: 1.5rem;
    color: gray;
}

#new-todo-list-entry-cntr {
    display: grid;
    grid-template-columns: repeat(2, minmax(1fr,45%));
    padding: 5px;
    gap: 10px;
}

.todo-list-entry-input {
    display: grid;
    align-content: start;
}

#todo-list-form-submit {
    grid-column: 1 / 3;
    justify-self: center;
    background-color: #34d399;
    color: white;
    font-weight: bold;
    font-size: 1.05rem;
    border-radius: 5px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    border: 1px solid black;
}

#overlay.active {
    opacity: 1;
    /* Prevent all mouse pointers from working */
    pointer-events: all;
}