.mid-about-titles {
    font-size: 2em;
    font-weight: bolder;
    text-align: left;
}

.hours-operations {
    display: grid;
    justify-content: center;
}

.day-operating-hours{
    font-size: 1.25em;
    color: #0ea5e9;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.contact-options {
    display: grid;
    background-color: #0ea5e9;
    grid-template-rows: repeat(1fr, 4);
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.contact-card {
    display: grid;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 70vw;
    padding: 10px;
}

.card-title {
    font-size: x-large;
    font-weight: bold;
}

.card-body {
    display: grid;
    justify-items: left;
    padding-left: 50px;
}

.card-body div {
    font-size: large;
}