#content {
    width: min(100%, 1500px);
    margin: 0 auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px 10px;
    width: min(90%, 1200px);
    margin: 0 auto;
}

.nav-btn a {
    text-decoration: none;
    color: #9ca3af;
}

.nav-btn {
    font-size: larger;
    color: #9ca3af;
    border-radius: 5px;
    border: 1.5px solid #6b7280;
    background-color: transparent;
    width: 160px;
}

.nav-btn:hover {
    cursor: pointer;
}

.nav-btn:active, .nav-btn a:active {
    color: #0284c7;
    font-weight: bold;
}