.createPost,
.editPost {
    display: grid;
    gap: 0.5em;
    width: 90%;
    margin: 0 auto;
}

.postView {
    display: grid;
    gap: 0.5em;
}

.postForm {
    display: grid;
    gap: 0.5em;
    & div input, & div textarea {
        width: 100%;
        padding: 0.25em 0.5em;
        border-radius: 0.3em;
        border: 1px solid black;
    }
    & div input {
        font-weight: bold;
    }
    & div textarea {
        resize: none;
    }
}

.actionBtns {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}

.commentCntr {
    display: grid;
    gap: 0.8em;
}


.newCmtInput {
    display: block;
    & textarea {
        width: 100%;
        resize: none;
        border-radius: 0.3em;
        padding: 0.2em 0.3em;
    }
}