<!DOCTYPE html>
<html lang="en">
<%- include('partials/header', { links: links }) %>
<body>
    <div class="container">Tell me what you know about MVC</div>
</body>
<%- include('partials/footer') %>
</html>