.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    background-color: #1f2937;
    align-self: center;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.left-nav {
    flex-shrink: 0;
}

.left-nav a {
    font-family: "Roboto";
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
}

.right-nav ul {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.right-nav ul, .right-nav a, button a {
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto";
    color: #f9faf8;
    font-size: 1.1rem;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 425px) {
    .nav-links {
        flex-direction: column;
    }
}